In [2]:
import numpy as np
import pandas as pd

In [3]:
ourtemp = pd.read_excel("Regroup_Variable List_data order_updated.xlsx")
ourtemp.head()

,Variabeltyp,Variabel,Kort beskrivning,Tidsperiod,Register,Ours
0,Individuell,PeOrgNr_LISA,Företagets organisationsnummer (ersätts med lö...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1
1,Individuell,CfarNr_LISA,Arbetsställets CFAR-nummer (ersätts med löpnum...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1
2,Individuell,ArbstId,Kopplingsvariabel till arbetsställetabell (ers...,2011-2021,"LISA, FAD",1
3,Individuell,AstNr_LISA,Arbetsställenummer (ersätts med löpnummer vid ...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1
4,Individuell,Raks_SummaInk,Total inkomst,2011-2021,"LISA, IoT",1

In [4]:
# OurVr = ourtemp.loc[:,['Variabel','Ours']]
# OurVr.head()
# len(OurVr)

OurVr = ourtemp.copy()
print(len(OurVr))
OurVr.head()

164

,Variabeltyp,Variabel,Kort beskrivning,Tidsperiod,Register,Ours
0,Individuell,PeOrgNr_LISA,Företagets organisationsnummer (ersätts med lö...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1
1,Individuell,CfarNr_LISA,Arbetsställets CFAR-nummer (ersätts med löpnum...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1
2,Individuell,ArbstId,Kopplingsvariabel till arbetsställetabell (ers...,2011-2021,"LISA, FAD",1
3,Individuell,AstNr_LISA,Arbetsställenummer (ersätts med löpnummer vid ...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1
4,Individuell,Raks_SummaInk,Total inkomst,2011-2021,"LISA, IoT",1

In [5]:
AgFile = "AgData_Variabel.xlsx"
AgData = pd.ExcelFile(AgFile)
AgData.sheet_names

['Individ',
 'Föräldrar',
 'GDB',
 'Boende',
 'Löner',
 'Företag',
 'FEK',
 'FoU',
 'Utrikeshandel',
 'Nedlagda företag',
 'Nedlagda arbetsställen',
 'Arbetsställen',
 'Industrins energianvändning',
 'Miljöräkenskaper',
 'FRIDA',
 "Ftg's Utgifter för IT",
 'IT-användning i Ftg']

In [6]:
AgTable = pd.read_excel(AgFile, sheet_name=AgData.sheet_names[2])
print(len(AgTable))
AgTable.head()

13

,Variabel,Beskrivning,År,Källa,Kommentarer
0,PersonNr,"Individens identitet, löpnummer för personnummer",NaN,NaN,NaN
1,XKOORDsw,X-koordinat för boende (ruta) SWEREF99TM,1990-2019,GDB_Open,NaN
2,YKOORDsw,Y-koordinat för boende (ruta) SWEREF99TM,1990-2019,GDB_Open,NaN
3,Ruta,"Rutstorlek, 200mx200 / 1000mx1000m",1990-2019,GDB_Open,NaN
4,DeSO,"Demografiska statistikområden, boende",1990-2019,GDB_Open,NaN

In [7]:
AgVr = pd.DataFrame(columns = ['Variabel','Theirs'])
AgVr.head()

Empty DataFrame
Columns: [Variabel, Theirs]
Index: []

In [12]:
for s in range(len(AgData.sheet_names)-1):
#     tabnm = "Our"+"_"+AgData.sheet_names[s]
    AgTable = pd.read_excel(AgFile, sheet_name=AgData.sheet_names[s])
    AgTable.loc[:,['Theirs']] = 1
    tabtemp =  AgTable.loc[:,['Variabel','Theirs']]
    AgVr = AgVr.append(tabtemp)
print(len(AgVr))
AgVr.head()

542

     Variabel Theirs
0    PersonNr      1
1   FodelseAr      1
2         Kon      1
3  FodelseLan      1
4       FamId      1

In [9]:
# NetVr = pd.merge(OurVr,AgVr,on="Variabel",how="left")
# NetVr = OurVr.reset_index().merge(AgVr, how="left",on="Variabel").set_index('index')
NetVr = OurVr.merge(AgVr, how="left",on="Variabel")
print(len(NetVr))
NetVr.head()

175

,Variabeltyp,Variabel,Kort beskrivning,Tidsperiod,Register,Ours,Theirs
0,Individuell,PeOrgNr_LISA,Företagets organisationsnummer (ersätts med lö...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1,1
1,Individuell,CfarNr_LISA,Arbetsställets CFAR-nummer (ersätts med löpnum...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1,1
2,Individuell,ArbstId,Kopplingsvariabel till arbetsställetabell (ers...,2011-2021,"LISA, FAD",1,1
3,Individuell,AstNr_LISA,Arbetsställenummer (ersätts med löpnummer vid ...,2011-2021,"LISA, Arbetsstallen/ SyssReg",1,NaN
4,Individuell,Raks_SummaInk,Total inkomst,2011-2021,"LISA, IoT",1,NaN

In [10]:
NetVrCopy = NetVr.copy()
NetVrCopy.drop(NetVrCopy[pd.isna(NetVrCopy.Theirs)==False].index, inplace=True)
print(len(NetVrCopy))
# NetVrCopy.head(50)

130

In [11]:
pd.DataFrame.to_excel(NetVrCopy,"NewVarToAdd_CompareWAgData.xlsx")